.photodisplaywrapper {
  margin: 5px 0 0 -8px;
  width: calc(100% + 16px);
  /* background-color: gray; */
  border-top: 1px solid rgb(50, 50, 50);
  border-bottom: 1px solid rgb(50, 50, 50);
  height: 740px;
  display: flex;
  flex-flow: row nowrap;
}

.bigphotocontainer {
  min-width: 50%;
}

.bigphoto {
  width: 100%;
  max-height: 100%;
}

.smallphotocontainer {
  height: 100%;
  min-width: 50%;
  display: flex;
  flex-flow: column wrap;
}

.smallphoto {
  border-left: 2px solid rgb(100, 100, 100);
  border-bottom: 2px solid rgb(100, 100, 100);
  width: 50%;
  max-height: calc(50% - 1px);
}

.smallphoto.row2 {
  border-bottom: 0;
}

@media only screen and (max-height: 999px) {
  .photodisplaywrapper {
    height: 590px;
  }
}

@media only screen and (max-height: 849px) {
  .photodisplaywrapper {
    height: 440px;
  }
}

@media only screen and (max-height: 699px) {
  .photodisplaywrapper {
    height: 293px;
  }
}




