* {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: .2px;
}

body {
  min-height: 100vh;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.mainnavbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-bottom: 13px;
  padding-top: 5px;
}

.homebutton {
  padding-left: 15px;
  width: 50px;
  height: 50px;
  background-image: url('logo.png');
  background-size: 29px;
  background-repeat: no-repeat;
  background-position: 50%;
}

/* start searchbar styling */

.searchwrapper {
  flex: 1;
}

.searchbar {
  height: 45px;
  width: 460px;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(190, 190, 190, 0.25);
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(160, 160, 160, 0.3);
  background-image: url('search.png');
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: 15px 50%;
  text-indent: 50px;
  transition: .3s;
}

.searchbar:hover {
  box-shadow: 0 3px 5px rgba(140, 140, 140, 0.25);
}

.searchclicked {
  width: 580px;
  transition: .3s;
}

input:focus {
  outline: none;
}

/* end searchbar styling */

/* start main top bar button styling */

.buttonclicked:hover {
  border-bottom: 0px !important;
}

.mainbarbuttoncontainer {
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .2px;
  color: rgb(60, 60, 60);
}

.mainbarbutton {
  line-height: 74px;
  text-align: center;
  padding: 5px 7px;
  height: 74px;
}
.mainbarbutton:hover {
 border-bottom: 2px solid rgb(120, 120, 120);
 height: 72px;
 cursor: pointer;
}

/* end main top bar button styling */

.modals {
  float: right;
}

.photodisplaywrapper {
  margin-top: 5px;
  width: 100%;
  background-color: gray;
  border: 1px solid rgb(50, 50, 50);
}

/* start 'Become a host' dropdown styling */

.hostdropdown {
  border: 1px solid rgba(200, 200, 200, 0.25);
  box-shadow: 0 2px 5px rgba(190, 190, 190);
  margin-top: 4px;
  z-index: 5;
  height: 388px;
  width: 316px;
  margin-right: 208px;
  background-color: white;
}

.tophost {
  height: 216px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.25);
  background-image: url('list.png');
  background-repeat: no-repeat;
  background-size: 27px;
  background-position: 266px 75px;
}

.bottomhost {
  background-image: url('host.png');
  background-repeat: no-repeat;
  background-size: 27px;
  background-position: 266px 75px;
}

.dropdownheading {
  font-size: 12px;
  letter-spacing: 3.5px;
  color: rgb(120, 120, 120);
  font-weight: 600;
  padding: 32px 0 2px 24px;
}
.itemheader {
  padding-top: 29px;
  padding-left: 24px;
  font-size: 14px;
  color: rgb(80, 80, 80);
  font-weight: 500;
}

.itemdescrip {
  padding-top: 9px;
  font-size: 15px;
  color: rgb(80, 80, 80);
  font-weight: 300;
  padding-left: 24px;
  width: 230px;
}

.hdditem:hover .itemheader {
  text-decoration: underline;
}

/* end 'Become a host' dropdown styling */

/* start help modal styling */

.helpmodal {
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  min-height: 100vh;
  width: 350px;
  background-color: white;
  z-index: 5;
  border-left: 1px solid rgba(200, 200, 200, 0.25);
  box-shadow: -2px 0 3px rgba(190, 190, 190, 0.25);
  display: flex;
  flex-direction: column;
}

.closehelp {
  right: 15px;
  position: fixed;
  font-weight: 100;
  font-size: 45px;
  transform: rotate(-45deg);
}

.closehelp:hover {
  cursor: pointer;
}
.helptop {
  height: 62px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.25);
  line-height: 62px;
  text-align: center;
  font-weight: 500;
}

/* start middle help section */

.helpmiddle {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.helpsearchbox {
  font-weight: 400;
  font-size: 14px;
  width: 296px;
  height: 46px;
  margin-top: 35px;
  margin-left: 24px;
  border: 1px solid rgba(160, 160, 160, 0.25);
  text-indent: 52px;
  background-image: url('thinsearch.png');
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: 9px 50%;
  border-radius: 2px;
}
.helpheader {
  font-size: 11.5px;
  letter-spacing: .5px;
  color: rgb(120, 120, 120);
  font-weight: 600;
  margin: 35px 0 2px 24px;
}

.helparticle {
  margin-left: 24px;
  width: 296px;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: rgb(80, 80, 80);
}

.helparticle:hover {
  background-color: rgba(200, 200, 200, 0.25);
}

.helplink {
  width: 296px;
}
.helplink:hover {
  text-decoration: underline;
}

a.helplink {
  color: rgb(80, 80, 80);
}

a.helplink:hover {
text-decoration: underline;
}

/* end middle help section */

/* start bottom help section */
.helpbottom {
  border-top: 1px solid rgba(200, 200, 200, 0.25);
  align-content: center;
  height: 102px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
}

a.feedbacklink {
  color: rgb(0, 132, 137);
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: 11px;
  left: 128px;
}

a.feedbacklink:hover {
  text-decoration: underline;
}

.visithelp {
  background: rgb(0, 132, 137);
  width: 310px;
  height: 48px;
  border-radius: 4px;
  position: relative;
  left: 10px;
  top: 5px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
}

a.visithelp {
  color: white;
}
/* end bottom help section */

/* end help modal styling */
